.example-button-toggle-label {
  display: inline-block;
  margin: 16px;
}
.parent {
    margin-top: 40px;
}
#parent_div_2 {
    color: #fff;
    padding: 10px;
    float: right;
}

.mat-tab-group {
  width: 90%;
  margin-left: 150px;
  font-size: 18px;
}

#support-ticket-btn {
    background-color: #000;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    margin-left: 588px;
 
}
.main-container {
  border-radius: 4px;
  border-top-left-radius: 0;
  width: 1250px;
  height: 460px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  margin-left: 30px;
  font-size: 16px;
  background-color: #fff;
}
#support-ticket-input {
  margin-top: 15px;
  margin-left: 25px;
  border: 1px solid rgb(211, 210, 210);
}
#search-btn {
  border: none;
  background-color: #d0d2d1;
}
#dropdown {
  float: right;
  border: 1px solid rgb(238, 234, 234);
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 15px;
}
#dropdown:focus {
  outline: none;
  border: 1px solid black;
}
.mat-header-cell {
  width: 300px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 25rem;
  border: none !important;
}
.mat-header-row {
  box-shadow: 0 1px 10px -5px rgb(0 0 0 / 75%);
  width: 500px;
}

#block_container {
  display: flex;
}
#total-record {
  margin-left: 25px;
  float: left;
  font-weight: bold;
}
#pagination-btn {
  margin-left: 80%;
  float: right;
  font-size: 14px;
}
#prev-btn {
  margin-right: 5px;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  color: #000;
  background-color: #8a8d8b;
}
#next-btn {
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  color: #000;
  background-color: #8a8d8b;
}
