
.navbar-brand {
  margin: 0;
  padding-left: 15px;
  padding-top: 20px;
  overflow: hidden;
  background-color: #de3831;
  width: 120px;
  height: 70px;
  color: white;
  font-size: 24px;
  line-height: 12px;
  border-right: 1px solid #fff;
  position: relative;
  z-index: 9999;
}

.details {
  list-style-type: none;
  height: 70px;
  width: 100%;
  display: flex;
  background-color: #000;
  justify-content: space-between;
}
#content2 {
	clear: both;
	overflow: auto;
}

p {
  margin: 0;
  padding: 0;
}

.info {
  font-size: small;
  line-height: 12px;
  margin-left: 20px;
  margin-top: 0;
}
.navbar-nav {
  display: inline-block;
  color: white;
  padding-left: 30px; 
  padding-top: 15px;
 
}
#page-title {
  display: inline-block;
  margin-right: 800px; 
  font-size: 26px;
  font-weight: bold;
}
#current-user {
  display: inline-block;
  font-size: 12px;
}
.glyphicon {
  font-size: 30px;
}
#icon {
  padding: 15px;
  overflow: hidden;
  display: inline-block;
  background-color: grey;
  height: 70px;
  width: 80px;
  color: white;
  border-left: 1px solid white;
  border-bottom: gray;
  border-top: gray;
  border-right: gray;
}

.side-navbar-container {
  width: 130px;
  height: 900px;
  position: fixed;
  margin-top: 45px;
  z-index: 1;
  top: 17px;
  overflow-x: hidden;
  padding: 8px 0;
 
}
.sidenav-content-anchor{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  padding-left: 1px;
  padding-top: 25px;
  height: inherit;
}
/* .material-icons {
  display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    padding-left: 1px;
    padding-top: 25px;
    height: inherit;
}
.sidenav-path {
  display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 50px;
    position: fixed;
    height: inherit;
} */
#sidenavContent1 {
  width: 170px;
  height: 110px;
  font-size: 16px;
  border-top: 2px solid white;
  border-bottom: 1px solid #e0e2e1;
  box-shadow: 7px 6px 3px 0 #e0e2e1;
  background-color: #de3831;
  color: #f7f4f4;

}
#sidenavContent1:hover {
  width: 120px;
  height: 100px;
  border-top: #f7f4f4;
  background: #6c6f70;
  color: white;
  font-size: 16px;
  text-align: center;
  border-top:  2px solid white;;
  border-bottom: 2px solid white;
  transition: width 1s, height 1s;
}



#sidenavContent2, #sidenavContent3, #sidenavContent4, #sidenavContent5 {
  width: 120px;
  height: 100px;
  border-top: #f7f4f4;
  background: #6c6f70;
  color: white;
  font-size: 16px;
  text-align: center;
  border-bottom: 2px solid white;
  transition: width 1s, height 1s;
}


#sidenavContent2:hover {
  width: 150px;
  height: 100px;
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 1px solid #e0e2e1;
  box-shadow: 7px 6px 3px 0 #e0e2e1;
  background-color: #de3831;
  color: #f7f4f4;
  height: 110px;
  transition: width 2s, height 3s;
}
#sidenavContent3:hover {
  width: 150px;
  height: 100px;
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 1px solid #e0e2e1;
  box-shadow: 7px 6px 3px 0 #e0e2e1;
  background-color: #de3831;
  color: #f7f4f4;
  height: 110px;
}
#sidenavContent4:hover {
  width: 150px;
  height: 100px;
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 1px solid #e0e2e1;
  box-shadow: 7px 6px 3px 0 #e0e2e1;
  background-color: #de3831;
  color: #f7f4f4;
  height: 110px;
}
#sidenavContent5:hover {
  width: 150px;
  height: 100px;
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 1px solid #e0e2e1;
  box-shadow: 7px 6px 3px 0 #e0e2e1;
  background-color: #de3831;
  color: #f7f4f4;
  height: 110px;
}

*,
:after,
:before {
  box-sizing: border-box;
}
