<!-- 
<nav>
  <div class="details">
    <div>
      <a class="navbar-brand" href="#"
      >Optimus <br /><span class="info">Information</span></a
    >
    </div>
    <div class="navbar-nav" [ngSwitch]="home">
      <p id="page-title" *ngSwitchCase="'Applications'">{{applications}}</p>
      <p id="page-title" *ngSwitchCase="'WorkItems'">{{workItems}}</p>
      <p id="page-title" *ngSwitchCase="'Policies'">{{policies}}</p>
      <p id="page-title" *ngSwitchCase="'SupportTicket'">{{supportTicket}}</p>
      <p id="page-title" *ngSwitchDefault="'Home'">{{home}}</p>
      <p id="current-user">uma.maheshwari@optimusinfo.com</p>
    </div>
    <button type="button" id="icon" class="glyphicon glyphicon-cog"></button>
  </div>
</nav>
 -->
